<%- include("../partials/header") %>

<div class="container">
    <form action="/movies/movieQuery" method="GET">
        <button id="reveal" type="submit">Reveal</button>
    </form>
    <div class="container">
        <% if (movie1 === null) { %>
        <div></div>   
        
        <% } else { %>
        <p><%= movie1.title ? movie1.title : "N/A" %></p>
        <p><%= movie1.vote_average %></p>
        <p><%= movie1.overview %></p>
        <img src="https://image.tmdb.org/t/p/w500<%= movie1.poster_path %>"onerror="src="https://www.theprintworks.com/wp-content/themes/psBella/assets/img/film-poster-placeholder.png"">
        <form action="/movies/<%= movie1.title %>/collection" method="POST">
              <input type="text" hidden name="title" value="<%= movie1.title %>">
              <input type="text" hidden name="poster_path" value="<%= movie1.poster_path %>">
              <input type="text" hidden name="vote_average" value="<%= movie1.vote_average %>">
              <input type="text" hidden name="overview" value="<%= movie1.overview %>">
              <button class="btn btn-success">Add to Collection</button>
        </form>
        <% } %>


    </div>

    <div class="container">
        <% if (movie2 === null) { %>
        <div></div>>   
        
        <% } else { %>
        <p><%= movie2.title ? movie2.title : "N/A" %></p>
        <p><%= movie2.vote_average %></p>
        <p><%= movie2.overview %></p>
        <img src="https://image.tmdb.org/t/p/w500<%= movie2.poster_path %>" onerror="src="https://www.theprintworks.com/wp-content/themes/psBella/assets/img/film-poster-placeholder.png"">
        <form action="/movies/<%= movie2.title %>/collection" method="POST">
            <input type="text" hidden name="title" value="<%= movie2.title %>">
            <input type="text" hidden name="poster_path" value="<%= movie2.poster_path %>">
            <input type="text" hidden name="vote_average" value="<%= movie2.vote_average %>">
            <input type="text" hidden name="overview" value="<%= movie2.overview %>">
            <button class="btn btn-success">Add to Collection</button>
        </form>
        <% } %>
    </div>
    <form action="/movies/movieQuery" method="GET">
        <button type="submit">Try Again!</button>
    </form>
</div>

<%- include("../partials/footer") %>