<%- include('../partials/header') %>

<% users.forEach(u => { %>
    <a href="/users/<%= u._id %>">
      <div class="card" id="users">
        <div class="card-body">
          <img height="50" id="avatarPhoto" src="<%= u.avatar ? u.avatar : 'http://theoldreader.com/kittens/300/300/' %>" alt=""> 
          <%= u.name %></a> 
        </div>
      </div><br>
  <% }) %>

  <%- include('../partials/footer') %>
  