<%- include("../partials/header") %>

<h2>Profile</h2>

<div class="card" style="width: 36rem">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="profileinfo-tab" data-toggle="tab"
            href="#profileinfo" role="tab" aria-controls="profileinfo"
            aria-selected="true">My Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profileinfo"
        role="tabpanel" aria-labelledby="profileinfo-tab">
            <div class="card-body">
                <img height="50" id="avatarPhoto" src="<%= user.avatar ? user.avatar : 'http://theoldreader.com/kittens/300/300/' %>" alt="">
                <h4 class="card-title">Name: <%= user.name %></h4>
                <p class="card-text">E-mail: <%= user.email %></p>
                <p>Joined on <%= user.createdAt.toLocaleString().split(',')[0] %></p>
            </div>
        </div>
        <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab">
            <div class="card-body"> 
                <% user.friends.forEach(f => { %>
                    <a href="/users/<%= f._id %>"><img width="30" id="avatarPhoto" src="<%= f.avatar %>" alt=""><%= f.name %> <%= f.alias ? `(${f.alias})` : '' %></a><br><br>
                <% }) %>
            </div>
        </div>
    </div>
</div>
            


</div>


<%- include('../partials/footer') %>